/* Navigatgion Bar */
.navbar{
  padding: 10px 20px;
  background-color: #00000000;
}


.navbar .nav-list {
  list-style-type: none;
  width: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-list li{
  margin-right: 20px;
}

.nav-list li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bolder;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #003366;
}

.nav-list li a:last-child {
  margin-left: auto;
  margin-right: 0;
}

.nav-list li img {
  width: 28px;
  height: auto;
  display: block;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}
/* Footer */
footer{
  color: #f0f0f0;
  background-color: #003366;
  padding: 15px;
  text-align: center;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  }
