<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--  Permissions required for Maps and Internet -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoimage"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logosymbol"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmpoweringTheNation"
        tools:targetApi="31">

        <!--  Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBAJsIrvrpTLGBb08J9vkVOMHaHS0U5vu8" />

        <!-- Activities -->
        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".loginActivity"
            android:exported="false" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".CourseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".QuotationScreenActivity"
            android:exported="false" />
        <activity
            android:name=".CourseSelectionActivity2"
            android:exported="false" />
        <activity
            android:name=".LifeSkillsActivity"
            android:exported="false" />
        <activity
            android:name=".LandscapingActivity"
            android:exported="false" />
        <activity
            android:name=".SewingActivity"
            android:exported="false" />
        <activity
            android:name=".FirstAidActivity"
            android:exported="false" />
        <activity
            android:name=".GardenMaintenanceActivity"
            android:exported="false" />
        <activity
            android:name=".CookingActivity"
            android:exported="false" />
        <activity
            android:name=".ChildMindingActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <!-- Launcher Activity -->
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>